.me-auto {
  margin-left: auto;
}
.header {
  background: #2d373c;
  padding: 5px 0px;
  overflow: hidden;
}
.me-auto.navbar-nav a:hover {
  color: #ff7f47;
}
.navbar-nav a {
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
  margin: 0px 10px;
  font-weight: 500;
}
.navbar-nav li {
  color: #ff7f47;
  font-size: 20px;
  margin-left: 10px;
}
.navbar-nav button {
  background: #ff7f47;
  border: none;
  margin-left: 10px;
  width: 130px;
  font-weight: 600;
}
.ls-btn {
  padding: 5px 15px;
  text-align: center;
  border: 2px solid #ff7f47;
  border-radius: 5px;
}
@media screen and (min-device-width: 250px) and (max-device-width: 768px) {
  .navbar-nav .ls-btn {
    margin-top: 15px;
    padding: 5px 0px;
  }
  .navbar-nav button {
    margin-top: 15px;
  }
}
.navbar-brand img {
  width: 150px;
}
