.me-auto {
  margin-left: auto;
}
.header {
  background: #2c2c2c;
  padding: 20px 0px;
  font-family: "Titillium Web", sans-serif;
}
.me-auto.navbar-nav a:hover {
  color: #ff7f47;
}
.navbar-nav a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  margin: 0px 10px;
}
.navbar-nav li {
  color: #ff7f47;
  font-size: 20px;
  margin-left: 10px;
}
.navbar-nav button {
  background: #ff7f47;
  border: none;
  margin-left: 10px;
  width: 130px;
  font-weight: 600;
}
.ls-btn {
  background: rgb(35, 109, 247);
  padding: 10px;
  color: #2c2c2c;
  font-weight: 600;
  letter-spacing: 2px;
  width: 80px;
  text-align: center;
}
@media screen and (min-device-width: 250px) and (max-device-width: 768px) {
  .navbar-nav .ls-btn {
    margin-top: 15px;
    padding: 5px 0px;
  }
  .navbar-nav button {
    margin-top: 15px;
  }
}
