.single-pakage {
  /* background: #fe7f47; */
  padding: 30px;
  margin: 30px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  background: rgb(255, 127, 71);
  background: radial-gradient(
    circle,
    rgba(255, 127, 71, 1) 0%,
    rgba(44, 44, 44, 1) 100%,
    rgba(44, 44, 44, 1) 100%
  );
  color: #fff;
}

.single-pakage button {
  background: #fb7d47;
  border: none;
  padding: 10px 20px;
  margin: 10px 0px;
  font-size: 20px;
  font-weight: 700;
  transition: 0.3s;
}
.single-pakage button:hover {
  transform: scale(0.95);
}
