.single-pakage {
  padding: 30px;
  margin: 30px;
  box-shadow: rgba(0, 0, 0, 1) 0px 25px 20px -20px;
  background: rgb(45 55 60);
  color: #fff;
}

.single-pakage button {
  background: #fb7d47;
  border: none;
  padding: 10px 20px;
  margin: 10px 0px;
  font-size: 20px;
  font-weight: 700;
  transition: 0.3s;
  color: #2d373c;
}
.single-pakage button:hover {
  transform: scale(0.95);
}
