.banner {
  background: rgb(255, 127, 71);
  background: radial-gradient(
    circle,
    rgba(255, 127, 71, 1) 0%,
    rgba(44, 44, 44, 1) 100%,
    rgba(44, 44, 44, 1) 100%
  );
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Titillium Web", sans-serif;
  margin-bottom: 60px;
}
.banner-content {
  width: 75%;
  text-align: center;
  color: #2c2c2c;
  margin: 80px 0px;
}
.banner-content h1 {
  font-size: 110px;
  font-weight: 600;
}
.banner-content h3 {
  font-size: 50px;
  color: #fff;
  font-weight: 600;
}
.banner-content button {
  background: #2c2c2c;
  color: #fff;
  padding: 15px 20px;
  border: none;
  margin: 50px 0px;
  font-size: 20px;
  font-weight: 600;
  transition: 0.3s;
}
.banner-content button:hover {
  color: #ff7f47;
}
@media screen and (min-width: 300px) {
  .banner-content h3 {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
  }
  .banner-content h1 {
    font-size: 40px;
  }
}
