img.bannerImg {
  width: 100%;
}

ul.slick-dots {
  position: absolute;
  right: 0;
  bottom: 20px;
  display: inline-block;
}
.slider-main {
  position: relative;
}
.banner-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 555;
  background: #2d373cda;
  border-radius: 5px;
  color: #fff;
  padding: 120px 100px;
  text-align: center;
}
.banner-content a button {
  margin: 0px 10px;
  border-radius: 5px;
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  padding: 10px 20px;
  transition: 0.3s;
  font-weight: 600;
  font-size: 22px;
}

.banner-content h4 {
  margin: 20px 0px;
}
.banner-content h1 {
  font-size: 60px;
}

.banner-content button:hover {
  color: #ff7f47;
  border: 2px solid #ff7f47;
}
@media screen and (min-device-width: 250px) and (max-device-width: 768px) {
  .banner-content h3 {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
  }
  .banner-content h1 {
    font-size: 40px;
  }
}
