.order-item {
  box-shadow: rgba(0, 0, 0, 1) 0px 25px 20px -20px;
  background: rgb(45 55 60);
  color: #fff;
  text-align: center;
  margin: 20px;
  transition: 0.3s;
}
.order-item:hover {
  transform: scale(1.05);
}
.order-item button {
  display: block;
  width: 150px;
  margin: 20px auto;
  background: rgb(35, 109, 247);
  color: #fff;
  padding: 10px;
  font-size: 20px;
  border: none;
  font-weight: 600;
}
.manage-all-orders h2 {
  font-weight: 600;
  padding: 30px;
  font-size: 30px;
}
