.google-login {
  text-align: center;
  font-family: "Titillium Web", sans-serif;
  margin: 30px 0px;
}
.google-login img {
  width: 25%;
}
.google-login button {
  display: block;
  width: 140px;
  margin: 20px auto;
  padding: 10px;
  background: #1e78ff;
  border: none;
  color: #fff;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 600;
  letter-spacing: 2px;
}
