.add-from {
  background: #2c2c2c;
  padding: 30px;
  text-align: center;
}

.add-from input {
  display: block;
  width: 75%;
  margin: 12px auto;
  padding: 10px;
  background: #fff;
  font-weight: 600;
  font-size: 20px;
  border: none;
}
.add-from textarea {
  width: 75%;
  margin: 0px auto;
  padding: 10px;
  background: #fff;
  font-weight: 600;
  font-size: 20px;
  border: none;
}
.add-pakage-container {
  margin: 60px 0px;
}
.add-from input:last-child {
  background: rgb(35, 109, 247);
  color: #fff;
  width: 200px;
  border: none;
  margin: 10px auto;
}
@media screen and (min-device-width: 250px) and (max-device-width: 768px) {
  .add-from input {
    width: 100%;
  }
  .add-from textarea {
    width: 100%;
  }
}
