.error-message {
  text-align: center;
  background: #ff7f47;
  margin: 100px 0px;
  padding: 100px 0px;
  font-family: "Titillium Web", sans-serif;
}

.error-message h1 {
  font-size: 60px;
  font-weight: 600;
}
